#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, #121212, #1b1b1b);
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #f7d354;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
    padding: .2rem .8rem;
    border-radius: 4px;
    border: none;
}

#navbar form button {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#navbar form button:hover {
    background-color: transparent;
    color: #f7d354;
}

#navbar form button:hover svg {
    transform: rotate(90deg);
    transition: transform 0.4s ease;
}
