* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000; 
  color: #FFFFFF; 
}

a {
  text-decoration: none;
  color: #FFD700; 
  transition: 0.5s;
}

a:hover {
  color: #8B0000; 
}
